<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../CSS/fonts.css" />
    <link rel="stylesheet" href="./../CSS/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Accordion</title>
  </head>
  <body>
    <section class="container block">
      <div class="accordion-wrapper">
        <div class="accordion__intro">
          <h2 class="accordion__heading">رزومه و سوابق</h2>
          <span>
            <span>ویرایش</span>
            <span>
              <i class="far fa-edit"></i>
            </span>
          </span>
        </div>
        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <span>
              <i class="fas fa-chevron-circle-left"></i>
            </span>
          </header>
          <div class="accordion__content">
            <div class="accordion__content__image">
              <img src="/assets/images/work-station 1.svg" alt="" />
            </div>
            <div class="accordion__content__all">
              <div class="accordion__content__text">
                <span>
                  ﻣﺮﮐﺰ رﺷﺪ داﻧﺸﮕﺎه ﺳﯿﺴﺘﺎن و ﺑﻠﻮﭼﺴﺘﺎن
                  <span style="color: #878787; margin-right: 1.5rem"
                    >ﻣﻬﺮ 1395 - ﺑﻬﻤﻦ 1398 ( 3 ﺳﺎل )</span
                  >
                </span>
                <span>
                  <i class="far fa-edit"></i>
                </span>
              </div>
              <div>
                <span>طراح گرافیک</span>
              </div>
              <span>
                ﻣﺪﯾﺮ واﺣﺪ ﮔﺮاﻓﮏﯿ ﻣﺮﮐﺰ رﺷﺪ داﻧﺸﮕﺎه ﺳﯿﺴﺘﺎن و ﺑﻠﻮﭼﺴﺘﺎن. +600 ﭘروژه
                ﻃﺮاﺣﯽ ﺷﺪه ﺗﺒﻠﯿﻐﺎﺗﯽ در اﯾﻦ ﺳﻤﺖ
              </span>
            </div>
          </div>
        </div>
        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <span>
              <i class="fas fa-chevron-circle-left"></i>
            </span>
          </header>
          <div class="accordion__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
            officiis, odio aperiam consequuntur doloribus sed! Necessitatibus,
            quos beatae ad neque culpa ut illum soluta ratione consectetur
            accusamus reprehenderit dolorum aut!
          </div>
        </div>
      </div>
    </section>

    <script src="../js/main.js"></script>
  </body>
</html>
