<!-- کد کامنت شده زیر را خودم زدم -->
<!-- <section class="container contact">
    <h2 class="first__title">شما می توانید، نظرات و انتقادات خود را برای ما بفرستید </h2>
    <div class="contact__map">
      <div class="social-media">
        <img src="/assets/images/ant-design_twitter-outlined.svg" alt="" />
        <img src="/assets/images/ant-design_facebook-filled.svg" alt="" />
        <img src="/assets/images/ant-design_linkedin-filled.svg" alt="" />

      </div>

      <div class="contact-image">
        <div class="mail-detail">
          <img src="/assets/images/ant-design_mail-outlined.svg" alt="" />
          <span>6386 Spring St undefined Anchorage,
            Georgia 12473 United States</span>
        </div>
        <div class="tel-detail">
          <img src="/assets/images/ic_baseline-phone-android.svg" alt="" />
          <span>(843) 555-0130</span>
        </div>
        <div class="location-detail">
          <img src="/assets/images/bx_bx-map.svg" alt="" />
          <span>willie.jennings@example.com</span>
        </div>
      </div>
    </div>
    <div class="contact__comment">
      <div>
        <div class="second-title">
          <h2>Contact</h2>
        </div>
        <div>
          <input type="text" placeholder="Your Name" />
        </div>
        <div>
          <input type="email" placeholder="Your Email" />
        </div>
        <div>
          <textarea cols="30" rows="10" placeholder="Your Message"></textarea>
        </div>
      </div>
  </section> -->

<section class="contact-us container">
  <div class="contact-us__social">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
      </svg>
    </span>
  </div>
  <div class="contact-us__icons">
    <div class="icon-holder">
      <span class="icon-holder__label">info@fronthooks.ir1</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__label">+989182451234</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Call"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__label"
        >ایران - کردستان - سنندج خیابان 21 - کوچه 101</span
      >
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="contact-us__map">
    <img src="/assets/images/map.png" alt="" />
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
      <h3>نظرات شما</h3>
      <form>
        <input type="text" placeholder="نام و نام خانوادگی" />
        <input type="email" dir="ltr" placeholder="ایمیل خود را وارد کنید" />
        <textarea cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn--primary">ثبت نظر</button>
      </form>
    </div>
  </div>
</section>
