<!-- flex-box section -->
<!-- <section class="container">
      <div class="container-services">
        <div class="items-services item-services-one">
          <img src="/assets/images/i-mac 1.svg" alt="" />
        </div>
        <div class="text-container">
          <h2 class="items-services1 item-services-two">
            خدمات تپسی برای کسب و کارها
          </h2>
          <div class="items-services1 item-services-three">
            پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
            هم‌زمان تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها
            فراهم می‌کند. و با استفاده از آن می‌توانید ماموریت های درون‌شهری و
            ارسال کالاهای خود را به سادگی مدیریت کنید.
          </div>
        </div>
      </div>
    </section> -->

<!-- grid-box section -->
<!-- <section class="container">
      <div class="container-services">
        <div class="items-services item-services-one">
          <img src="/assets/images/i-mac 1.svg" alt="" />
        </div>
        <div class="text-container">
          <h2 class="items-services1 item-services-two">
            خدمات تپسی برای کسب و کارها
          </h2>
          <div class="items-services1 item-services-three">
            پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
            هم‌زمان تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها
            فراهم می‌کند. و با استفاده از آن می‌توانید ماموریت های درون‌شهری و
            ارسال کالاهای خود را به سادگی مدیریت کنید.
          </div>
        </div>
      </div>
    </section> -->

<!-- ========================= -->
<section class="feature container">
  <div class="feature__image">
    <img src="/assets//images/i-mac 1.png" alt="" />
  </div>
  <div class="feature__detail">
    <h2 class="feature__title">خدمات تپسی برای کسب و کارها</h2>
    <p class="feature__text">
      پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان
      تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند. و
      با استفاده از آن می‌توانید ماموریت های درون‌شهری و ارسال کالاهای خود را به
      سادگی مدیریت کنید.
    </p>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
