<section class="hero-section">
  <picture>
    <source
      srcset="https://tapsi.ir/images/home/banner.webp"
      type="image/webp"
      media="(min-width: 768px)"
    />
    <source
      srcset="https://tapsi.ir/images/home/banner.jpg"
      type="image/jpg"
      media="(min-width: 768px)"
    />
    <source
      srcset="https://tapsi.ir/images/home/banner-mobile.webp"
      type="image/webp"
      media="(max-width: 768px)"
    />
    <source
      srcset="https://tapsi.ir/images/home/banner-mobile.jpg"
      type="image/jpg"
      media="(max-width: 768px)"
    />
    <img
      alt="banner"
      src="https://tapsi.ir/images/home/banner.jpg"
      class="banner-img"
    />
  </picture>

  <div class="hero-wrapper container">
    <div class="intro-btn">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      <div class="intro-wrapper">
        <div class="intro-btn__passenger">
          <span class="icon">
            <i class="fa fa-car"></i>
          </span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passenger">
          <span>
            <i class="fa-solid fa-arrow-down"></i>
          </span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passenger passenger--secondary">
          <span>
            <i class="fa-brands fa-shopware"></i>
          </span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passenger passenger--secondary">
          <span>
            <i class="fa-brands fa-amazon-pay"></i>
          </span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>
      </div>
    </div>
  </div>
</section>
