<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../CSS/fonts.css" />
    <link rel="stylesheet" href="./../CSS/style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="container block">
      <div class="select-type">
        <div class="select-control">
          <input type="radio" name="webinar" id="type-A" />
          <label for="type-A">عمومی</label>
        </div>
        <div class="select-control">
          <input type="radio" name="webinar" id="type-B" />
          <label for="type-B">اختصاصی</label>
        </div>
      </div>
    </section>
  </body>
</html>
