<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/fonts.css" />
    <link rel="stylesheet" href="./../CSS/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>travell</title>
  </head>

  <body>
    <!-- <section class="container travell">
      <div class="travell__slides">
        <div class="travell__slide">
          <img src="/assets/images/travell.png" alt="" />
          <div class="travel-card">
            <div>
              <span class="travel-card-title">ویژه</span>
              <span>اقامت رایگان</span>
              <span>سفر 3 روزه</span>
            </div>
            <div>
              <span> سفر به قلب کویر لوت </span>
            </div>
            <div>
              <span>like</span>
              <span>view</span>
              <span>delete</span>
              <span>edit</span>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <img src="/assets/images/travell.png" alt="" />
          <div class="travel-card">
            <div>
              <span class="travel-card-title">ویژه</span>
              <span>اقامت رایگان</span>
              <span>سفر 3 روزه</span>
            </div>
            <div>
              <span> سفر به قلب کویر لوت </span>
            </div>
            <div>
              <span>like</span>
              <span>view</span>
              <span>delete</span>
              <span>edit</span>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <img src="/assets/images/travell.png" alt="" />
          <div class="travel-card">
            <span class="travel-card-title">ویژه</span>
            <span>اقامت رایگان</span>
            <span>سفر 3 روزه</span>
            <div>
              <span> سفر به قلب کویر لوت </span>
            </div>
            <div>
              <span>like</span>
              <span>view</span>
              <span>delete</span>
              <span>edit</span>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="container travell">
      <div class="travell__slides">
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>46</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>

        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>31</span>
                <i class="far fa-eye"></i>
                <span>38</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>

        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>4</span>
                <i class="far fa-eye"></i>
                <span>21</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>

        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>4</span>
                <i class="far fa-eye"></i>
                <span>21</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>

        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/natural-1.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>4</span>
                <i class="far fa-eye"></i>
                <span>21</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>

        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/natural-3.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>4</span>
                <i class="far fa-eye"></i>
                <span>21</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>

        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/natural-2.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary"> ویژه </span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب تاریخ</p>
            <div class="slide__icons">
              <div>
                <i class="fas fa-heart"></i>
                <span>4</span>
                <i class="far fa-eye"></i>
                <span>21</span>
              </div>
              <div>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/pic-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-2.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/pic-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
