*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

@font-face {
    font-family: 'badr';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/+\ Badr_p30download.com.woff') format('woff2')
}

@font-face {
    font-family: 'zahed';
    font-weight: bolder;
    font-style: normal;
    src: url('/assets/fonts/Zahed_Dal_p30download.com.woff') format('woff2')
}

html {
    font-size: 75%;
}

body {
    font-family: "zahed";
    height: 100vh;
    padding: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    /* font-family: "zahed"; */
    border: 1px solid #9ca3af;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: 0;
    border: 1px solid #c4b5fd;
    box-shadow: 0 0 0 4px #f5f3ff;

    /* transition: border 0.2s, box-shadow 0.2s; */
    transition: all 0.2s;
}

label {
    display: block;
    margin-bottom: 0.3rem;
}

form {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    max-width: 50%;
}

.form-control {
    margin-bottom: 1rem;
}

button {
    font-family: "badr";
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    border: 0;
    background-color: #a78bfa;
    color: #fff;
}