<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../CSS/fonts.css" />
    <link rel="stylesheet" href="./../CSS/style.css" />
    <title>Banavaaz-Clone</title>
  </head>
  <body>
    <section class="main-capabilities container block">
      <section>
        <h2>قابلیت های ویژه بانواز</h2>
        <div class="wrapper-capabilities-content">
          <div class="capability-items">
            <img src="/assets/images/1.png" alt="" />
            <span
              >سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش
              مصنوعی گرسنه بودن اون رو تشخیص بدن!</span
            >
          </div>
          <div class="capability-items">
            <img src="/assets/images/2.png" alt="" />
            <span
              >با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به
              گیاه ها آب بدی!</span
            >
          </div>
          <div class="capability-items">
            <img src="/assets/images/3.png" alt="" />
            <span
              >میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا
              حتی برای روشن بودن اونها از بانواز کمک بگیری.</span
            >
          </div>
          <div class="capability-items">
            <img src="/assets/images/4.png" alt="" />
            <span
              >باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت
              دیگه در سنسور های بانواز!</span
            >
          </div>
          <div class="capability-items">
            <img src="/assets/images/1.png" alt="" />
            <span
              >سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش
              مصنوعی گرسنه بودن اون رو تشخیص بدن!</span
            >
          </div>
          <div class="capability-items">
            <img src="/assets/images/3.png" alt="" />
            <span
              >سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش
              مصنوعی گرسنه بودن اون رو تشخیص بدن!</span
            >
          </div>
          <div class="capability-items">
            <img src="/assets/images/2.png" alt="" />
            <span
              >سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش
              مصنوعی گرسنه بودن اون رو تشخیص بدن!</span
            >
          </div>
        </div>
      </section>
    </section>
    <section class="main-behaviors container block">
      <section class="wrapper-behaviors-content">
        <div class="wrapper-text">
          <h2>رفقای بانواز!</h2>
          <span>ما افتخار همکاری با بیش از ده ها شرکت رو در بانواز داریم.</span>
        </div>
        <div class="wrapper-behavior-img">
          <div class="behavior-img">
            <img src="/assets/images/behaviors-logo.png" alt="" />
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
