<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../CSS/fonts.css" />
    <link rel="stylesheet" href="./../CSS/style.css" />
    <title>Banavaaz-Clone</title>
  </head>
  <body>
    <footer class="main-footer">
      <section class="container block footer">
        <div class="footer__item">
          <h2 class="heading--colorWhite">بانواز</h2>
          <span>خانه</span>
          <span>فروشگاه</span>
          <span>ورود به داشبورد</span>
        </div>
        <div class="footer__item">
          <h2 class="heading--colorWhite">فروشگاه</h2>
          <span>دستگاه مرکزی</span>
          <span>سنسورهای داخلی</span>
          <span>سنسورهای خارجی</span>
        </div>
        <div class="footer__item">
          <h2 class="heading--colorWhite">بانواز</h2>
          <span>درباره بانواز</span>
          <span>وبلاگ</span>
          <span>موقعیت های شغلی</span>
          <span>تماس با ما</span>
        </div>
        <div class="footer__item">
          <div class="footer__change-position">
            <h2 class="heading--colorWhite">دانلود اپلیکیشن</h2>
            <div class="get-app-from-store">
              <img
                src="/assets/images/Google Play Badge.jpg"
                alt="google play app"
              />
              <img
                src="/assets/images/App Store Badge.jpg"
                alt="app store app"
              />
            </div>
          </div>
        </div>
      </section>

      <div class="dividing-line"></div>

      <section class="last-part">
        <div class="items--icons-social">
          <span class="icon-container">
            <svg class="icon">
              <use xlink:href="/assets/images/svg-sprite.svg#insta-icon"></use>
            </svg>
          </span>
          <span class="icon-container">
            <svg class="icon">
              <use xlink:href="/assets/images/svg-sprite.svg#aparat-icon"></use>
            </svg>
          </span>
          <span class="icon-container">
            <svg class="icon">
              <use
                xlink:href="/assets/images/svg-sprite.svg#twitter-icon"
              ></use>
            </svg>
          </span>
          <span class="icon-container">
            <svg class="icon">
              <use xlink:href="/assets/images/svg-sprite.svg#utube-icon"></use>
            </svg>
          </span>
        </div>

        <span> تمامی حقوق متعلق به بانواز میباشد.</span>
      </section>

      <div class="change--color"></div>
      <section class="created-by">
        <h6>طراحی و ساخته شده توسط تیم MatrixStartup&ensp;با 🧡</h6>
        <h6 style="margin: 1rem 0">
          &copy;1401 تمام حقوق این سایت متعلق به MatrixStartup می باشد.
        </h6>
      </section>
    </footer>
  </body>
</html>
