<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../CSS/fonts.css" />
    <link rel="stylesheet" href="./../CSS/style.css" />
    <title>Banavaaz-Clone</title>
  </head>

  <body>
    <section class="container block">
      <div class="setting-for-child1">
        <img
          class="setting-for-child1-img"
          src="/assets/images/henley-design-studio-fj2f6C5hGRM-unsplash.jpg"
          alt=""
        />
        <div class="setting-for-child1-text">
          <h2 class="setting-for-child1-text__h2">
            دارای تنظیمات مخصوص کودکان!
          </h2>
          <p class="setting-for-child1-text__p">
            نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش!
          </p>
          <button class="btn btn--primary--section2">فروشگاه بانواز</button>
        </div>
      </div>
      <div class="setting-for-child2">
        <div class="setting-for-child2-text">
          <h2 class="setting-for-child2-text__h2">
            دارای تنظیمات مخصوص کودکان!
          </h2>
          <p class="setting-for-child2-text__p">
            نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش!
          </p>
          <button class="btn btn--primary--section2-2">فروشگاه بانواز</button>
        </div>
        <div class="wrapper-img">
          <img
            class="setting-for-child2-img"
            src="/assets/images/iPhone 12 Mini.png"
            alt=""
          />
        </div>
      </div>
    </section>
  </body>
</html>
