/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Custom Fonts */
@font-face {
    font-family: 'badr';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/+\ Badr_p30download.com.woff') format('woff2')
}

@font-face {
    font-family: 'zahed';
    font-weight: bolder;
    font-style: normal;
    src: url('/assets/fonts/Zahed_Dal_p30download.com.woff') format('woff2')
}

/* BODY STYLES */
:root {
    --color-primary: #da038b;
    --border-radius: 30px;
}

html {
    font-size: 75%;
}

body {
    font-family: "zahed";
    height: 100vh;
    padding: 1rem;
    --main-text-color: red;
}

input[type="text"],
input[type="password"],
textarea,
input[type="email"] {
    /* font-family: "zahed"; */
    border: 1px solid #9ca3af;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="email"]:focus {
    outline: 0;
    border: 1px solid #c4b5fd;
    box-shadow: 0 0 0 4px #f5f3ff;

    /* transition: border 0.2s, box-shadow 0.2s; */
    transition: all 0.2s;
}

button {
    /* font-family: "badr";
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    border: 0;
    background-color: #a78bfa;
    color: #fff;
    margin-top: 20px; */
}

.nav-item {
    background-color: gold;
    color: var(--main-text-color, rgb(88, 88, 208));
}

.box {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-bottom: 20px;
}

.box-two {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

.header .signup {
    font-family: "badr";
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    border: 0;
    background-color: #a78bfa;
    color: #fff;
    margin: 20px;
}

.blog .read {}

.btn {
    font-family: "badr";
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    border: 0;
    margin: 20px;
}

.btn-primary {
    background-color: #a78bfa;
    color: #fff;
}

.btn-secondary {
    border: 2px solid #c8fa8b;
    background-color: #fff;
    color: rgb(252, 0, 0);
}

/* TYPOGRAPHY */
h1 {}

h2 {}

p {}

/* Form Styles */

/* Navigation Styles */